.bg-example {
  background-image: url('assets/icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
  width: 100px;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 5px;
}
